.errorPage {
  position: relative;
  background-color: #ebf3ff;
  color: #ebf3ff;
  background: linear-gradient(
    90deg,
    rgba(0, 30, 97, 1) 0%,
    rgba(56, 117, 221, 1) 100%
  );
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  .error {
    width: 730px;
    z-index: 2;
  }
  .circle1 {
    position: absolute;
    width: 480px;
    left: 0;
    top: 50px;
  }
  .circle2 {
    position: absolute;
    width: 260px;
    right: 50px;
    bottom: 0;
  }
}
