.questionnaire {
  background-color: white;
  position: relative;
  .applicationAccepted {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .like {
      width: 321px;
    }
  }
  .titleQuestion {
    height: 7%;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .number {
    }
    .progressBar {
      width: 87%;
      height: 15px;
      margin-top: 18px;
      .progressBarBackground {
        z-index: 10;
        background-color: #e1e1e1;
        border-radius: 2px;
        div {
          height: 5px;
          border-radius: 2px;
          background-color: #001e61;
        }
      }
    }
  }
  .questionBodyContainer {
    min-height: 72%;
    .questionBody {
      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
      }
      .inputanswer {
        width: 100%;
        height: 55px;
        background-color: #ebf3ff;
        border: 1px solid rgba(255, 0, 0, 0);
        color: #3875dd;
        margin: 20px 0;
        padding: 0 20px;
        font-size: 13px;
      }
      .clue {
        margin: 20px 0;
      }
      .variant {
        display: flex;
        align-items: center;
        margin: 20px 0;

        .checkboxConainer {
          display: flex;
          align-items: center;
          cursor: pointer;
 
          &:hover {
            background-color: #eaeaea;
            border-radius: 25px;
          }
          .checkbox {
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #ebf3ff;
            width: 53px;
            height: 53px;
            border-radius: 50%;
            margin: 0 20px 0 0;
            .active {
              width: 26px;
              height: 26px;
              border-radius: 50%;
              background-color: #0166fd;
            }
          }
        }
      }
    }
  }
  .buttonContainer {
    position: relative;
    z-index: 3;
    text-align: center;
    margin: 0 0 -150px 0;

    button {
      background-color: #3874dd00;
      border: 0px;
      &:hover {
        cursor: pointer;
        background-color: #e2e2e2;
      }
      &:disabled {
        cursor: auto;
        background-color: #101b2e15;
      }
    }
    img {
      margin: 10px;
      width: 100px;
    }
  }
}
@media screen and (min-width: 1920px) {
  .questionnaire {
    width: 1200px;
    height: 700px;
    padding: 65px;
    .titleQuestion {
      font-size: 22px;
    }
    .flex {
      .number {
        font-size: 13px;
      }
      .progressBar {
        width: 80%;
      }
    }
    .questionBodyContainer {
      margin: 30px 0;
      .question {
        font-size: 18px;
      }
      .variant {
        font-size: 16px;
        .checkboxConainer {
          margin: 20px;
          width: 350px;
          p {
            max-width: 250px;
          }
          span {
            max-width: 250px;
          }
          .checkbox {
            width: 53px;
            height: 53px;
            border-radius: 50%;
            margin: 0 20px 0 0;
            .active {
              width: 26px;
              height: 26px;
              border-radius: 50%;
              background-color: #0166fd;
            }
          }
        }
      }
    }
    .buttonContainer {
    }
  }
}
@media screen and (max-width: 1919px) {
  .questionnaire {
    width: 690px;
    height: 700px;
    padding: 65px;
    .titleQuestion {
      font-size: 22px;
    }
    .flex {
      .number {
        font-size: 13px;
      }
      .progressBar {
        width: 80%;
      }
    }
    .questionBodyContainer {
      margin: 30px 0;
      .question {
        font-size: 18px;
      }
      .variant {
        font-size: 16px;
        .checkboxConainer {
          margin: 20px;
          width: 300px;
          p {
            max-width: 250px;
          }
          span {
            max-width: 350px;
          }
          .checkbox {
            width: 53px;
            height: 53px;
            border-radius: 50%;
            margin: 0 20px 0 0;
            .active {
              width: 26px;
              height: 26px;
              border-radius: 50%;
              background-color: #0166fd;
            }
          }
        }
      }
    }
    .buttonContainer {
    }
  }
}
@media screen and (max-width: 1023px) {
  .questionnaire {
    width: 550px;
    height: 630px;
    padding: 35px;
    .titleQuestion {
      font-size: 17px;
    }
    .flex {
      .number {
        font-size: 10px;
      }
      .progressBar {
        width: 80%;
      }
    }
    .questionBodyContainer {
      margin: 15px 0;
      .question {
        font-size: 14px;
      }

      .variant {
        font-size: 12px;
        .checkboxConainer {
          margin: 10px;
          width: 250px;
          p {
            max-width: 170px;
          }
          span {
            max-width: 170px;
          }
          .checkbox {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 0 20px 0 0;
            .active {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #0166fd;
            }
          }
        }
      }
    }
    .buttonContainer {
    }
  }
}
