.questionnaire {
  background-color: white;

  .titleQuestion {
    height: 10%;
  }
  .progressBar {
    height: 3%;
    div {
      width: 100%;
      height: 5px;
      background-color: #001e61;
    }
  }
  .questionBodyContainer {
    height: 72%;

    .questionBody {
      max-height: 350px;
      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
      }
      .inputanswer {
        width: 100%;
        height: 55px;
        background-color: #ebf3ff;
        border: 1px solid rgba(255, 0, 0, 0);
        color: #3875dd;
        margin: 20px 0;
        padding: 0 20px;
        font-size: 13px;
      }
      .question {
        margin: 20px 0;
      }
      .variant {
        display: flex;
        align-items: center;
        margin: 20px;
        width: 350px;
        cursor: pointer;
        &:hover{
          background-color: #eaeaea;
          border-radius: 25px;
        }
        .checkbox {
          background-color: #ebf3ff;
          width: 53px;
          height: 53px;
          border-radius: 50%;
          margin: 0 20px 0 -10px;
        }
      }
    }
  }
  .buttonContainer {
    position: relative;
    z-index: 3;
    text-align: center;
    margin: 0 0 -150px 0;

    button {
      background-color: #3874dd00;
      border: 0px;
      &:hover {
        cursor: pointer;
        background-color: #e2e2e2;
      }
      &:disabled {
        cursor: auto;
        background-color: #3874dd15;
      }
    }
    img {
      margin: 10px;
      width: 100px;
    }
  }
}
@media screen and (min-width: 1920px) {
  .questionnaire {
    width: 1200px;
    height: 700px;
    padding: 65px;
    .titleQuestion {
      font-size: 22px;
    }

    .questionBodyContainer {
      margin: 30px 0;
      .question {
        font-size: 18px;
      }
      .variant {
        font-size: 16px;
      }
    }
    .buttonContainer {
    }
  }
}
@media screen and (max-width: 1919px) {
  .questionnaire {
    width: 690px;
    height: 700px;
    padding: 65px;
    .titleQuestion {
      font-size: 22px;
    }

    .questionBodyContainer {
      margin: 30px 0;
      .question {
        font-size: 18px;
      }
      .variant {
        font-size: 16px;
      }
    }
    .buttonContainer {
    }
  }
}
@media screen and (max-width: 1023px) {
  .questionnaire {
    width: 550px;
    height: 630px;
    padding: 35px;
    .titleQuestion {
      font-size: 17px;
    }

    .questionBodyContainer {
      margin: 15px 0;
      .question {
        font-size: 14px;
      }
      .variant {
        font-size: 12px;
      }
    }
    .buttonContainer {
    }
  }
}
