.footer {
  height:250px;
  background: linear-gradient(
    90deg,
    rgba(0, 30, 97, 1) 0%,
    rgba(56, 117, 221, 1) 100%
  );
  position: relative;
  color: white;
  .container {
    display: flex;
    .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      .logoContainer {
        height: 90px;
        display: flex;
        align-items: end;
      }
      .infoContainer {
        height: 90px;
        display: flex;
        justify-content: space-between;
        .infoTitle {
          font-size: 13px;
        }
        .infoData {
          font-size: 18px;
          img {
            width: 33px;
            margin: 0 10px 0 0;
          }
        }
      }
    }
    .right {
      width: 50%;
      text-align: end;
      .subTitle {
        height: 90px;
        display: flex;
        align-items: end;
        justify-content: end;
        font-size: 16px;

        p {
          margin: 20px 0;
          border-bottom: 2px dotted #ffffff;
        }
      }
      .buttonContainer {
        height: 90px;
        .button {
          position: relative;
          z-index: 2;
          border: 2px solid white;
          background-color: #ebf3ff00;
          border-radius: 7px;
          color: white;
          width: 315px;
          height: 70px;
          font-size: 18px;
          -webkit-box-shadow: 0px 0px 19px 0px rgba(255, 255, 255, 0.2);
          -moz-box-shadow: 0px 0px 19px 0px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 19px 0px rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
